<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<%- include("progetGeneral/src/components/header/header.ejs") %>
		<%- include("progetGeneral/src/components/hero-section/hero-section.ejs") %>
			<section class="new-arrivals">
				<%- include("progetGeneral/src/components/arrivals-section/arrivals.ejs") %>
					<%- include("progetGeneral/src/components/arrivals-section/arrivals-section-list.ejs") %>
						<%- include("progetGeneral/src/components/arrivals-section/arrivals-bullets.ejs") %>
			</section>
			<section class="banners-section">
				<%- include("progetGeneral/src/components/banners-section/banners.ejs") %>
			</section>
			<section class="categories-section">
				<%- include("progetGeneral/src/components/categories/categories.ejs") %>
			</section>
			<section class="tranding-section">
				<%- include("progetGeneral/src/components/tranding-section/tranding.ejs") %>
			</section>
			<section>
				<%- include("progetGeneral/src/components/sale-section/sale.ejs") %>
			</section>
			<section>
				<%- include("progetGeneral/src/components/mobile-app-section/mobile-app.ejs") %>
			</section>
			<section>
				<%- include("progetGeneral/src/components/services-section/services.ejs") %>
			</section>
			<section>
				<%- include("progetGeneral/src/components/instagram-section/instagram.ejs") %>
			</section>
			<%- include("progetGeneral/src/components/fashion-blog/fashion-blog.ejs") %>
				<%- include("progetGeneral/src/components/subscribe/subscribe.ejs") %>
					<%- include("progetGeneral/src/components/footer/footer.ejs") %>
						<script src="/progetGeneral/src/components/header/header.js"></script>
						<script src="/progetGeneral/src/components/hero-section/hero-section.js"></script>
						<script src="/progetGeneral/src/components/subscribe/subscribe.js"></script>



</body>

</html>