<footer>
	<div class="foo-container">
		<div class="foo-content">
			<%- include("src/components/footer/footer-column-1.ejs") %>
				<%- include("src/components/footer/footer-column-2.ejs") %>
					<%- include("src/components/footer/footer-column-3.ejs") %>
						<%- include("src/components/footer/footer-column-4.ejs") %>
		</div>

		<%- include("src/components/footer/createdby.ejs") %>
	</div>