<div class="footer__social">
	<%- include("src/components/footer/footer__social-item.ejs", { background: 'url(/public/img/facebook.svg)' }) %>
		<%- include("src/components/footer/footer__social-item.ejs", { background: 'url(/public/img/insta.svg)' }) %>
			<%- include("src/components/footer/footer__social-item.ejs", { background: 'url(/public/img/twitter.svg)' }) %>
				<%- include("src/components/footer/footer__social-item.ejs", { background: 'url(/public/img/YouTube.svg)' })
					%>
					<%- include("src/components/footer/footer__social-item.ejs", { background: 'url(/public/img/print.svg)'
						}) %>
</div>