<div class="footer__social">
	<%- include("progetGeneral/src/components/footer/footer__social-item.ejs", {
		background: 'url(/progetGeneral/src/img/facebook.svg)' }) %>
		<%- include("progetGeneral/src/components/footer/footer__social-item.ejs", {
			background: 'url(/progetGeneral/src/img/insta.svg)' }) %>
			<%- include("progetGeneral/src/components/footer/footer__social-item.ejs", {
				background: 'url(/progetGeneral/src/img/twitter.svg)' }) %>
				<%- include("progetGeneral/src/components/footer/footer__social-item.ejs", {
					background: 'url(/progetGeneral/src/img/YouTube.svg)' }) %>
					<%- include("progetGeneral/src/components/footer/footer__social-item.ejs", {
						background: 'url(/progetGeneral/src/img/print.svg)' }) %>
</div>