<div class="footer__columns">
	<ul class="footer__list">
		<li class="footer__item footer__list-title">HELP</li></a>
		<%- include("src/components/footer/footer__column-items.ejs", { title: 'Delivery & returns' }) %>
			<%- include("src/components/footer/footer__column-items.ejs", { title: 'FAQ' }) %>
				<%- include("src/components/footer/footer__column-items.ejs", { title: 'Track order' }) %>
					<%- include("src/components/footer/footer__column-items.ejs", { title: 'Contacts' }) %>
						<%- include("src/components/footer/footer__column-items.ejs", { title: 'Blog' }) %>
	</ul>
</div>