<div class="fashion__brands">
	<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
		background: 'url(/progetGeneral/src/img/vans.svg)' }) %>
		<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
			background: 'url(/progetGeneral/src/img/diesel.svg)' }) %>
			<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
				background: 'url(/progetGeneral/src/img/under-armour.svg)' }) %>
				<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
					background: 'url(/progetGeneral/src/img/columbia.svg)' }) %>
					<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
						background: 'url(/progetGeneral/src/img/levis.svg)' }) %>
						<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
							background: 'url(/progetGeneral/src/img/mango.svg)' }) %>
</div>