<div class="fashion__brands">
	<%- include("src/components/fashion-blog/fashion-blog__brands_item.ejs", { background: 'url(/public/img/logo1.png)'
		}) %>
		<%- include("src/components/fashion-blog/fashion-blog__brands_item.ejs", {
			background: 'url(/public/img/logo2.png)' }) %>
			<%- include("src/components/fashion-blog/fashion-blog__brands_item.ejs", {
				background: 'url(/public/img/logo3.png)' }) %>
				<%- include("src/components/fashion-blog/fashion-blog__brands_item.ejs", {
					background: 'url(/public/img/logo4.png)' }) %>
					<%- include("src/components/fashion-blog/fashion-blog__brands_item.ejs", {
						background: 'url(/public/img/logo5.png)' }) %>
						<%- include("src/components/fashion-blog/fashion-blog__brands_item.ejs", {
							background: 'url(/public/img/logo6.png)' }) %>
</div>