<div class="fashion__column">
	<div class="card-fashion">
		<div class="card-fashion__image">
			<a href="#">
				<img src="<%- image %>" alt="">
			</a>
		</div>
		<span><a href="#" class="card-fashion__title">
				<%- title%>
			</a></span>
		<div class="card-fashion__links">
			<a href="#" class="card-fashion__link">
				<%- link%>
			</a>
			<span class="card-fashion__divider">|</span>
			<a href="#" class="card-fashion__link">
				<%- date%>
			</a>
			<span class="card-fashion__divider">|</span>
			<a href="#" class="card-fashion__link">
				<div class="card-fashion__icon"></div>
			</a>
			<a href="#" class="card-fashion__link">
				<%- comments%>
			</a>
		</div>
		<div class="card-fashion__text">
			<%- text%>
		</div>
	</div>
</div>