<div class="fashion__brands">
	<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
		background: 'url(/progetGeneral/public/img/logo1.png)' }) %>
		<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
			background: 'url(/progetGeneral/public/img/logo2.png)' }) %>
			<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
				background: 'url(/progetGeneral/public/img/logo3.png)' }) %>
				<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
					background: 'url(/progetGeneral/public/img/logo4.png)' }) %>
					<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
						background: 'url(/progetGeneral/public/img/logo5.png)' }) %>
						<%- include("progetGeneral/src/components/fashion-blog/fashion-blog__brands_item.ejs", {
							background: 'url(/progetGeneral/public/img/logo6.png)' }) %>
</div>