<li class="product-list_item <%- className %>">
    <div class="<%- displayStars4 %>">
        <%- include("progetGeneral/src/components/like-components/stars4.ejs") %>
    </div>
        <%- include("progetGeneral/src/components/like-components/like.ejs") %>
        <div class="<%- displayStars5 %>">
        <%- include("progetGeneral/src/components/like-components/stars5.ejs") %>
    </div>
    <div class="product-list_item-wrap">
    <p class="product-list_item-txt">
        <%- titleArrivals%>
    </p>
    <p class="<%- classNamePrice %>">
        <%- priceArrivals%>
    </p>
</div>
</li>