<ul class="arrivals-list">
    <li class="arrivals-list_item">
        <div class="arrivals-list_item-wrap">
        <img src="/progetGeneral/src/img/cap.jpg" alt="">
        <%- include("progetGeneral/src/components/like-components/stars5.ejs") %>
        <%- include("progetGeneral/src/components/like-components/like.ejs") %>
    </div>
        <p class="arrivals-list_item-txt">
            Black and white sport cap
        </p>
        <p class="arrivals-list_item-price">
            $18.15
        </p>
    </li>
    <li class="arrivals-list_item">
        <div class="arrivals-list_item-wrap">
        <img src="/progetGeneral/src/img/glasses.jpg" alt="">
        <%- include("progetGeneral/src/components/like-components/like.ejs") %>
    </div>
        <p class="arrivals-list_item-txt">
            Metal bridge sunglasses
        </p>
        <p class="arrivals-list_item-price">
            $89.95
        </p>
    </li>
    <li class="arrivals-list_item">
        
        <div class="arrivals-list_item-wrap">
        <img src="/progetGeneral/src/img/body.jpg" alt="">
        <%- include("progetGeneral/src/components/like-components/stars4.ejs") %>
        <%- include("progetGeneral/src/components/like-components/like.ejs") %>
        </div>
    </div>
        <p class="arrivals-list_item-txt">
            Green baby romper
        </p>
        <p class="arrivals-list_item-price">
            $20.40
        </p>
    </li>
    <li class="arrivals-list_item">
        <div class="arrivals-list_item-wrap">
        <img src="/progetGeneral/src/img/jeans.jpg" alt="">
        <%- include("progetGeneral/src/components/like-components/like.ejs") %>
    </div>
        <p class="arrivals-list_item-txt">
            Mid-rise slim cropped fit jeans
        </p>
        <p class="arrivals-list_item-price">
            $40.00
        </p>
    </li>
    <li class="arrivals-list_item">
        <div class="arrivals-list_item-wrap">
        <img src="/progetGeneral/src/img/earring.jpg" alt="">
        <%- include("progetGeneral/src/components/like-components/stars5.ejs") %>
        <%- include("progetGeneral/src/components/like-components/like.ejs") %>
    </div>
        <p class="arrivals-list_item-txt">
            Red dangle earrings
        </p>
        <p class="arrivals-list_item-price">
            $29.95
        </p>
    </li>
    <li class="arrivals-list_item">
        <div class="arrivals-list_item-wrap">
        <img src="/progetGeneral/src/img/child-shoe.jpg" alt="">
        <%- include("progetGeneral/src/components/like-components/like.ejs") %>
    </div>
        <p class="arrivals-list_item-txt">
            Baby shoes with laces
        </p>
        <p class="arrivals-list_item-price">
            $30.60
        </p>
    </li>
</ul>