<div class="sale-section">
    <div class="main-title align-items-start margin-left">Sale up to 70%</div>
    <%- include("progetGeneral/src/components/lines-components/line.ejs") %>
    <ul class="sale-list">
        <li class="sale-list__item">
            <a href="" class="sale-list-link">
                <div class="sale-value">50%</div>
                <img src="/progetGeneral/src/img/sale1.jpg" alt="" class="sale-list-img">
                <%- include("progetGeneral/src/components/like-components/stars5.ejs") %>
                <%- include("progetGeneral/src/components/like-components/like.ejs") %>
                <p class="sale-list-text">Leather crossbody bag with gold hardware</p>
                <p class="sale-list-price">$89.50<span class="sale-list-old-price">$179.00</span></p>
            </a>
        </li>
        <li class="sale-list__item">
            <a href="" class="sale-list-link">
                <div class="sale-value">50%</div>
                <img src="/progetGeneral/src/img/sale2.jpg" alt="" class="sale-list-img">
                <%- include("progetGeneral/src/components/like-components/like.ejs") %>
                <p class="sale-list-text">Skinny push-up jeans</p>
                <p class="sale-list-price">$40.00<span class="sale-list-old-price">$80.00</span></p>
            </a>
        </li>
        <li class="sale-list__item">
            <a href="" class="sale-list-link">
                <div class="sale-value">20%</div>
                <img src="/progetGeneral/src/img/sale3.jpg" alt="" class="sale-list-img">
                <%- include("progetGeneral/src/components/like-components/stars4.ejs") %>
                <%- include("progetGeneral/src/components/like-components/like.ejs") %>
            </a>
            <p class="sale-list-text">Wide heel suede ankle boots</p>
            <p class="sale-list-price">$119.16<span class="sale-list-old-price">$148.95</span></p>
        </li>
    </ul>
    <button class="green-btn display-block">See all sale products</button>
</div>