<section class="hero-section">

	<div class="hero-section__slider">
		<div class="hero-section__slide hero-section__slide_active">
			<%- include("progetGeneral/src/components/hero-section/hero-section_slide.ejs", { subtitle: 'New collection' ,
			title: 'Menswear 2020' , img: '/progetGeneral/src/img/hero-slide-01.jpg' })%>
				<div class="hero-section__btn-container">
					<%- include("progetGeneral/src/components/hero-section/hero-section_btn.ejs", { title: 'Shop sales' })%>
					<%- include("progetGeneral/src/components/hero-section/hero-section_btn.ejs", {
					title: 'Shop the menswear' })%>
				</div>
		</div>
		<div class="hero-section__slide">
			<%- include("progetGeneral/src/components/hero-section/hero-section_slide.ejs", { subtitle: 'New collection' ,
			title: 'Fall-Winter 2021' , img: '/progetGeneral/src/img/hero-slide-02.jpg' })%>
				<div class="hero-section__btn-container">
					<%- include("progetGeneral/src/components/hero-section/hero-section_btn.ejs", {
					title: 'Shop the collection' })%>
				</div>
		</div>
		<div class="hero-section__slide">
			<%- include("progetGeneral/src/components/hero-section/hero-section_slide.ejs", { subtitle: 'Limited Edition' ,
			title: 'Leather Issue' , img: '/progetGeneral/src/img/hero-slide-03.jpg' })%>
				<div class="hero-section__btn-container">
					<%- include("progetGeneral/src/components/hero-section/hero-section_btn.ejs", {
					title: 'Shop the collection' })%>
				</div>
		</div>
		<div class="hero-section__slide">
			<%- include("progetGeneral/src/components/hero-section/hero-section_slide.ejs", { subtitle: 'Hottest Prices' ,
			title: 'Kidswear Sales' , img: '/progetGeneral/src/img/hero-slide-04.jpg' })%>
				<div class="hero-section__btn-container">
					<%- include("progetGeneral/src/components/hero-section/hero-section_btn.ejs", { title: 'Shop sale now'})%>
				</div>
		</div>
		<div class="hero-section__dots">
			<div class="hero-section__dot hero-section__dot_active">01</div>
			<div class="hero-section__dot">02</div>
			<div class="hero-section__dot">03</div>
			<div class="hero-section__dot">04</div>
		</div>
	</div>
	<%- include("progetGeneral/src/components/hero-section/hero-section-slider-btn.ejs", {
	className: 'hero-section__slider-btn-previosli' , img: '/progetGeneral/src/img/Left Line.svg' })%>
	<%- include("progetGeneral/src/components/hero-section/hero-section-slider-btn.ejs", {
	className: 'hero-section__slider-btn-next' , img: '/progetGeneral/src/img/Right Line.svg' })%>
	<%- include("progetGeneral/src/components/hero-section/hero-section_list.ejs") %>

</section>